.input {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  border-radius: 5px;
  padding: 10px;
  border: 1px solid grey;
  height: 40px;

  &::placeholder {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.title {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.error {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(245, 34, 45, 1);
}