.main {
  width: 100vw;
  height: 80px;
  background-color: #fff;
  margin-bottom: 26px;
}

.container {
  display: flex;
  padding: 16px 22px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
}

.img {
  width: 50px;
}
