.buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}


.content {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.imgg {
  height: 46px;
  width: 46px;
  background-color: black;
  border-radius: 100%;
}