.main {
  min-height: 498px;
  width: 384px;
  background-color: #fff;
}

.container {
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: center;
}

.title {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.button {
  width: 100%;
}

.submit {
  margin-top: -5px;
  width: 100%;
}

